@model ORLogSearchViewModel
@using Enums;
@using ViewModels.OverrideLogs.ORLog;

<div class="row">
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Company.cshtml" for="Company" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Department.cshtml" for="Department" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Unit.cshtml" for="Unit" view-data='@new ViewDataDictionary(ViewData) { { "IsSearchForm", "true" }, { "LogType", "Override" } }' />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Employee.cshtml" for="Requestor" view-data='@new ViewDataDictionary(ViewData) { { "Id", "requester-id" }, { "Heading", "Requester" },{ "IsSearchForm", "true" }, { "LogType", "Override" }  }' />
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Approver.cshtml" for="Approver" view-data='@new ViewDataDictionary(ViewData) { { "IsSearchForm", "true" }, { "LogType", "Override" } }' />
        </div>
    </div>
   
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Shift.cshtml" for="Shift" />
        </div>
    </div>

    @*  <div class="col-lg-4">
            <div class="mb-3">
                <partial name="~/Views/Shared/Select2/_OTType.cshtml" for="OverrideType" />
            </div>
        </div>*@
    @*@if (!User.IsInRole(RolesCatalog.CompanyManager.ToString()))
        {
            <div class="col-lg-4">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Company.cshtml" for="Company" />
                </div>
            </div>
        }*@

    <div class="col-lg-4">
        <div class="form-group profile-input">
            <label asp-for="Status" class="control-label form-label fw-600"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList(typeof(StatusSearchEnum))" class="form-control">
                <option selected="selected" value="">Select Status</option>
            </select>
            <input type="hidden" asp-for="StatusNot" />
        </div>
    </div>
</div>