@using Enums;
@using ViewModels.OverrideLogs.ORLog;
@model ORLogModifyViewModel
@{
    Layout = null;
    var isAdmin = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            @if (isAdmin)
            {
                <div class="col-lg-6">
                    <div class="mb-3">

                        <partial name="~/Views/Shared/Select2/_Employee.cshtml" for="Requester" view-data='@new ViewDataDictionary(ViewData) { { "Id", "requester-id" }, { "Heading", "Requester" } }' />
                    </div>
                </div>
            }

            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_RequestReason.cshtml" for="ReasonForRequest" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Unit.cshtml" for="Unit" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="DateSubmitted" class="form-label fw-600"></label>
                    <input asp-for="DateSubmitted" type="date" class="form-control" />
                    <span asp-validation-for="DateSubmitted" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="TimeSubmitted" class="form-label fw-600"></label>
                    <input asp-for="TimeSubmitted" type="time" class="form-control" />
                    <span asp-validation-for="TimeSubmitted" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_CraftSkill.cshtml" for="CraftSkill" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_CraftRate.cshtml" for="CraftRate" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="WorkCompletedDate" class="form-label fw-600"></label>
                    <input asp-for="WorkCompletedDate" type="date" class="form-control" />
                    <span asp-validation-for="WorkCompletedDate" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_OTType.cshtml" for="OverrideType" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Description" class="form-label fw-600"></label>
                    <input asp-for="Description" type="text" class="form-control" />
                    <span asp-validation-for="Description" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="PONumber" class="form-label fw-600"></label>
                    <input asp-for="PONumber" type="number" class="form-control" />
                    <span asp-validation-for="PONumber" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="OverrideHours" class="form-label fw-600"></label>
                    <input asp-for="OverrideHours" type="number" class="form-control" />
                    <span asp-validation-for="OverrideHours" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Shift.cshtml" for="Shift" />
                </div>
            </div>

        </div>
    </div>
</div>
<input asp-for="Requester.Id" type="hidden" />
<input asp-for="Id" type="hidden" />

