@using ViewModels.Shared;
@model ExcelFileVM

<div class="card">
    <div class="card-body">
        <form method="POST" action="/Requestor/ImportExcelSheet" enctype="multipart/form-data" class="form-inline" target="_blank" style="display:inline-block;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="file" name="file" id="file" class="inputfile form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg" id="submit-btn"> <i class="fa fa-upload"></i> Import</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>