@using ViewModels.Shared;
@model AttachmentVM
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-6">
        <input type="text" id="file-name" class="form-control" asp-for="Name" placeholder="Add attachment name" />
    </div>
    <div class="col-lg-6">
        <input type="file" id="file" asp-for="File" class="form-control" />
    </div>
</div>
<br />
@Html.HiddenFor(x => x.Folder.Id)