@model ViewModels.Shared.FolderDetailViewModel
@{
}

<!-- The Modal -->
<div class="modal fade" id="crudModalPanel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Folder</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div id="crudModalPanelBody" class="modal-body">
                Modal body..
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
        {
            <input type="button" id="create-attachment" class="btn btn-dark float-right" value="Create Attachment" onclick="loadCreateModalPanel('/Attachment/Create/'+@Model.Id)" />
            <input type="hidden" asp-for="Id" id="folder-id" />
        }
        <input type="button" id="back-to-folders" class="btn btn-light float-right mr-2" value="Back to Folders" />
    </div>
</div>
<br />
<partial name="_GetAttachments" model="Model.Attachments" />

@section Scripts{
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/views/Folder/attachment.js"></script>
    <script src="~/js/crud/ajaxCrud.js"></script>
    <partial name="_ValidationScriptsPartial" />
}