@model CraftRateSearchViewModel
@using Enums;
@using ViewModels.OverrideLogs;
@using Web.Extensions

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Rate" class="control-label form-label fw-600"></label>
            <input asp-for="Rate" type="search" class="form-control" placeholder="Search Rate" />
        </div>
    </div>
</div>