@using ViewModels.AppSettings.MobileFiles.Delivery;
@model DeliveryModifyViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="File" class="form-label fw-600">Upload File</label>
                    <div class="col-sm-12">
                        <img class="img-responsive" src="@Model.Url" id="image-thumbnail" alt="" style="max-width:120px;">
                        <input type="hidden" asp-for="Url" value="@Model.Url" id="hidden-image-url" />
                    </div>
                    <div class="col-sm-12">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <input type="file" asp-for="File" name="File" class="form-control" placeholder="Upload Image" id="Image" onchange="ShowImage(this)" />
                            <span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='RemoveImage()' data-dismiss="fileinput">Remove</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" asp-for="Id" />
<script>
    function ShowImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image-thumbnail').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function RemoveImage() {
        document.getElementById("Image").value = "";
        $("#image-thumbnail").removeAttr('src');
        $("#hidden-image-url").val("/Storage/Default/default.png");
    }
</script>