@using ViewModels.Authentication;
@model ResetPasswordVM
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ResetPassword" enctype="multipart/form-data" id="reset-password-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3 form-group">
                                <label asp-for="Password" class="form-label fw-600"></label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="" />
                                <span asp-validation-for="Password" class="validation-invalid-label"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3 form-group">
                                <label asp-for="ConfirmPassword" class="form-label fw-600"></label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="" />
                                <span asp-validation-for="ConfirmPassword" class="validation-invalid-label"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <a asp-action="Index" type="button" class="btn btn-dark">
                                Cancel
                            </a>
                            <button type="button" class="btn blue-btn" id="submit-btn">Submit</button>
                        </div>
                        <input type="hidden" asp-for="Email" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<script src="~/js/crud/add_asterik_on_required.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#submit-btn').on('click', function (event) {
            $.ajax({
                url: $("#reset-password-form").attr('action'),
                type: 'POST',
                data: $("#reset-password-form").serialize(),
                dataType: 'json',
                success: function (response) {
                    debugger;
                    if (response.success) {
                        window.location.reload();
                    } else {
                        // Handle error response
                        var errors = response.errors;
                        $.each(errors, function (key, value) {
                            var field = $("#reset-password-form").find('[name="' + key + '"]');
                            var errorContainer = field.closest('.form-group').find('.validation-invalid-label');
                            errorContainer.html(value);
                        });
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle error response
                    var errorMessage = xhr.responseText; // Get error message from response
                    $('#error-message').text(errorMessage); // Display error message in a div with id="error-message"
                }
            });
        });
    });
</script>








