@using ViewModels.Authentication.User;
@model UserSearchViewModel
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="FullName" class="control-label form-label fw-600">Full Name</label>
            <input asp-for="FullName" type="text" class="form-control" placeholder="Full Name" />
        </div>
    </div>
</div>