@using ViewModels.Common;
@using Enums;
@model ApprovalSearchViewModel

<div class="row">

    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Employee.cshtml" for="Employee" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group profile-input">
            <label asp-for="Status" class="control-label form-label fw-600"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList(typeof(Status))" class="form-control">
                <option selected="selected" value="">Select Status</option>
            </select>
        </div>
    </div>
</div>