<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-warning">You are no longer authorized to process this log.</h1>
            </div>
        </div>
    </div>
</div>
