@page
@model API.Pages.ApproverDashboardModel
@{
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<style>
    body {
        font-size: 16px; /* Base font size */
    }
    *[class^='progress-done-'] {
        height: 100%;
        width: 0;
        opacity: 0;
        background: linear-gradient(to left, #f2709c,#ff9472);
        color: #fff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fac090;
        box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
        transition: 1s ease;
    }

    h3 {
        font-size: 4.5vw;
    }

    .card {
        margin-top: 20px;
    }

    .card-title {
        text-align: center;
        font-size: 4vw;
    }

    .am-chart {
        width: 100vw; /* 100% of the viewport width */
        height: 50vh; /* 50% of the viewport height, change as needed */
    }

    .am-pie-chart {
        width: 100vw; /* 100% of the viewport width */
        height: 50vh; /* 50% of the viewport height, change as needed */
    }
</style>
<div class="container-fluid" style="background-color:white;">
    <main>
        @*<h3 class="text-center p-5">Approver Dashboard</h3>*@
        @await Html.PartialAsync("Shared/Dashboard/_TOTDelayTypeLog")

    </main>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="~/js/dashboard/am-chart.js"></script>
<!-- Chart code -->
<script>
    $(function () {
        TOTShiftDelayChart(@Json.Serialize(Model.DashboarModel.ShiftDelay));
        TOTReworkDelayChart(@Json.Serialize(Model.DashboarModel.ReworkDelay));
        TOTStartOfWorkDelayChart(@Json.Serialize(Model.DashboarModel.StartOfWorkDelay));
        TOTOngoingWorkDelayChart(@Json.Serialize(Model.DashboarModel.OngoingWorkDelay));
    })
    function TOTShiftDelayChart(seriesData) {
        GeneratePieChart("tot-shift-delay", seriesData)
    }
    function TOTReworkDelayChart(seriesData) {
        GeneratePieChart("tot-rework-delay", seriesData)
    }
    function TOTStartOfWorkDelayChart(seriesData) {
        GeneratePieChart("tot-start-of-work-delay", seriesData)
    }
    function TOTOngoingWorkDelayChart(seriesData) {
        GeneratePieChart("tot-ongoing-work-delay", seriesData)
    }
</script>
