@using Enums;
@using ViewModels.WeldingRodRecord.WRRLog;
@model WRRLogModifyViewModel
@{
    Layout = null;
    var isAdmin = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Department.cshtml" for="Department" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Unit.cshtml" for="Unit" />
                </div>
            </div>
            @if (isAdmin)
            {
                <div class="col-lg-6">
                    <div class="mb-3">
                        <partial name="~/Views/Shared/Select2/_Employee.cshtml" for="Employee" view-data='@new ViewDataDictionary(ViewData) { { "Id", "requester-id" }, { "Heading", "Requester" } }' />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label fw-600">Company</label>
                        <input type="text" class="form-control" id="requestor-company" name=requestor-company value="@Model.Company.Name" readonly />
                    </div>
                </div>
            }
            

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="CalibrationDate" class="form-label fw-600"></label>
                    <input asp-for="CalibrationDate" type="date" class="form-control" />
                    <span asp-validation-for="CalibrationDate" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="FumeControlUsed" class="form-label fw-600"></label>
                    <select asp-for="FumeControlUsed" asp-items="Html.GetEnumSelectList(typeof(FumeControlUsedCatalog))" class="form-control"></select>

                    <span asp-validation-for="FumeControlUsed" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_RodType.cshtml" for="RodType" />
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-label fw-600">TWR</label>

                <div class="mb-3 d-flex justify-content-start">
                    <div class="col-2">
                        <input type="text" value="TWR" class="form-control" readonly />
                    </div>

                    <div class="col-3">
                        <partial name="~/Views/Shared/Select2/_TWRNumeric.cshtml" for="TWRModel.NumericPart" />
                    </div>

                    <div class="col-3">
                        <partial name="~/Views/Shared/Select2/_TWRAlphabetic.cshtml" for="TWRModel.AlphabeticPart" />
                    </div>

                    <div class="col-3">
                        <input type="text" asp-for="TWRModel.Text" class="form-control" />
                        <span asp-validation-for="TWRModel.Text" class="validation-invalid-label"></span>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_WeldMethod.cshtml" for="WeldMethod" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label fw-600"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="RodCheckedOut" class="form-label fw-600"></label>
                    <input asp-for="RodCheckedOut" type="date" class="form-control" />
                    <span asp-validation-for="RodCheckedOut" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Location.cshtml" for="Location" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="RodCheckedOutLbs" class="form-label fw-600"></label>
                    <input asp-for="RodCheckedOutLbs" type="number" class="form-control" />
                    <span asp-validation-for="RodCheckedOutLbs" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="RodReturnedWasteLbs" class="form-label fw-600"></label>
                    <input asp-for="RodReturnedWasteLbs" type="number" class="form-control" />
                    <span asp-validation-for="RodReturnedWasteLbs" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="DateRodReturned" class="form-label fw-600"></label>
                    <input asp-for="DateRodReturned" type="date" class="form-control" />
                    <span asp-validation-for="DateRodReturned" class="validation-invalid-label"></span>
                </div>
            </div>

            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                <div class="col-lg-6">
                    <div class="mb-3">
                        <partial name="~/Views/Shared/Select2/_Approver.cshtml" for="Approver" view-data='new ViewDataDictionary(ViewData) { { "Id", "approver-id"}, { "UserTitle", "Approver"}, {"Type", "Approver"} }' />
                    </div>
                </div>
            }
            else
            {
                <input asp-for="Approver.Id" type="hidden" />
            }
        </div>
    </div>
</div>

<input asp-for="Status" type="hidden" id="status-id" />
<input asp-for="Employee.Id" type="hidden" />
<input asp-for="Id" type="hidden" />

<script>
    $(function () {
        $('#requester-id').on('change.select2', function (e) {
            if ($(this).select2('data')[0] === undefined) {
                $("#requestor-company").val("");
            }
            else {
                $("#requestor-company").val($(this).select2('data')[0].additionalAttributesModel.Company.Name);
            }
        });
    });</script>