<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
               Total Cost By Status (FCO)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="fco-status"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Total Cost By Requestor (FCO)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="fco-requestor"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Total Cost By Company (FCO)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="fco-company"></div>
            </p>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Total Cost By Area Execution Lead (FCO)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="fco-area-execution-lead"></div>
            </p>
        </div>
    </div>
</div>

<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Total Cost By Business Team Leader (FCO)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="fco-business-team-leader"></div>
            </p>
        </div>
    </div>
</div>