<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Cost By Department (Override)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-department">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>

        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Cost By Unit (Override)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-unit">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>

        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Cost By Shift (Override)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-shift">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>

        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Cost By Request Reason (Override)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-request-reason">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>

        </div>
    </div>
</div>

