@model System.String
@{
    var currentValue = ViewData["Value"];
}
<div class="form-group">
    <label asp-for="@Model" class="control-label"></label>
    <input asp-for="@Model" class="form-control" />
    <span asp-validation-for="@Model" class="validation-invalid-label"></span>
</div>