@using Select2.Model;
@using ViewModels.TimeOnTools.TOTLog;
@model Select2ViewModel

@{
    var elementId = ViewData["Id"] != null && !string.IsNullOrEmpty(ViewData["Id"].ToString()) ? ViewData["Id"].ToString() : "twr-alphabetic-id";
}


<div class="form-group">
    @*  <label class="form-label fw-600">Craft Skill</label>*@
    @Html.DropDownListFor(model => model.id, new List<SelectListItem>() {
    new SelectListItem()
    {
    Value = (Model!=null&& !string.IsNullOrEmpty(Model.id))?Model.id.ToString():"",
    Text = (Model!=null&&!string.IsNullOrEmpty(Model.id))?Model.text:"",
    Selected = (Model!=null&&!string.IsNullOrEmpty(Model.id))?true:false,
    }},
    new
    {
    @id = elementId,
    @class = "form-control",
    //data_val_required = Model.ErrorMessage,
    //data_val = Model.IsValidationEnabled.ToString().ToLower()
    data_val_required = "Required",
    data_val =  "true"

    })
    <input type="hidden" name="TWRModel.AlphabeticPart.Name" value="@Model.text" />
    <span asp-validation-for="id" class="validation-invalid-label"></span>
</div>

<script src="~/js/custom-scripts/Select2Methods.js"></script>
<script>
    $(function () {
        var id = "#" + "@elementId";
        var pageSize = 10;
        var url = '/TOTLog/GetTWRAlphabeticValues';
        var dataArray = function (params) {
            params.page = params.page || 1;
            return {
                prefix: params.term,
                pageSize: pageSize,
                pageNumber: params.page,
            };
        };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize, "Select TWR Alphabetic value");
    });
</script>
