@using System.Web
@using ViewModels.CRUD
@model CrudListViewModel
@{
    var createUrl = HttpUtility.UrlDecode(Url.Action("Create", Model.ControllerName));
    var isAdmin = User.IsInRole("SuperAdmin");
}
<script>
    $(document).ready(function () {
        //$('[data-toggle="tooltip"]').tooltip();
    });
    function loadCreateModalPanel(contentUrl) {
        loadModalPanel(contentUrl, "crudModalPanel", "crudModalPanelBody")
    }
</script>

<div class="card-header header-elements-inline">
    <div class="row col-12 p-0 m-0">
        <div class="selected-filters-container col-10 mt-2 p-0"></div>
        <div class="row col-2 p-0  m-0">
            <div class="col-12">
                @if (Model.DisableSearch == false)
                {
                    <button type="button" id="search-filters" class="btn-circle mb-2 float-right" data-toggle="tooltip" title="Search"><i class="icon-filter3 icon-1x"></i></button>
                }
                @if (Model.HideCreateButton == false && Model.ControllerName != "Approval")
                {
                    <button class="btn-circle mb-1 float-right" onclick="loadCreateModalPanel('@createUrl')"><i class="icon-plus-circle2 icon-1x" data-toggle="tooltip" title="Create"></i></button>
                }
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="crudModalPanel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div id="crudModalPanelBody" class="modal-body">
                Modal body..
            </div>
        </div>
    </div>
</div>

