@model TOTLogSearchViewModel
@using Enums;
@using ViewModels.TimeOnTools.TOTLog;

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="EquipmentNo" class="control-label form-label fw-600"></label>
            <input asp-for="EquipmentNo" type="search" class="form-control" placeholder="Search Equipment No" />
        </div>
    </div>
  
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Employee.cshtml" for="Requester" view-data='@new ViewDataDictionary(ViewData) { { "Id", "requester-id" }, { "Heading", "Requester" } }' />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Unit.cshtml" for="Unit" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Shift.cshtml" for="Shift" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Approver.cshtml" for="Approver" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_DelayType.cshtml" for="DelayType" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_PermitType.cshtml" for="PermitType" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group profile-input">
            <label asp-for="Status" class="control-label form-label fw-600"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList(typeof(StatusSearchEnum))" class="form-control">
                <option selected="selected" value="">Select Status</option>
            </select>
            <input type="hidden" asp-for="StatusNot" />
        </div>
    </div>
</div>
