@using Enums;
@using ViewModels.TimeOnTools.TOTLog;
@model TOTLogModifyViewModel
@{
    Layout = null;
    var isAdmin = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">


            <div class="col-lg-4">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Department.cshtml" for="Department" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Unit.cshtml" for="Unit" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_Shift.cshtml" for="Shift" />
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="StartOfWork" class="form-label fw-600"></label>
                    <input asp-for="StartOfWork" type="date" class="form-control" />
                    <span asp-validation-for="StartOfWork" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_RequestReason.cshtml" for="ReasonForRequest" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="WorkScope" class="form-label fw-600"></label>
                    <input asp-for="WorkScope" type="text" class="form-control" />
                    <span asp-validation-for="WorkScope" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_DelayType.cshtml" for="DelayType" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_PermitType.cshtml" for="PermitType" />
                </div>
            </div>
           @* @if (isAdmin)
            {
                <div class="col-lg-4">
                    <div class="mb-3">
                        <partial name="~/Views/Shared/Select2/_Employee.cshtml" for="Employee" view-data='@new ViewDataDictionary(ViewData) { { "Id", "requester-id" }, { "Heading", "Requester" } }' />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label fw-600">Company</label>
                        <input type="text" class="form-control" id="requestor-company" name=requestor-company value="@Model.Company.Name" readonly />
                    </div>
                </div>
            }*@
            <div class="col-lg-6">
                <partial name="~/Views/Shared/Select2/_Company.cshtml" for="Company" />
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Foreman" class="form-label fw-600"></label>
                    <input asp-for="Foreman" type="text" class="form-control" />
                    <span asp-validation-for="Foreman" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="EquipmentNo" class="form-label fw-600"></label>
                    <input asp-for="EquipmentNo" type="text" class="form-control" />
                    <span asp-validation-for="EquipmentNo" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-label fw-600">TWR</label>

                <div class="mb-3 d-flex justify-content-start">
                    <div class="col-2">
                        <input type="text" value="TWR" class="form-control" readonly />
                    </div>

                    <div class="col-3">
                        <partial name="~/Views/Shared/Select2/_TWRNumeric.cshtml" for="TWRModel.NumericPart" />
                    </div>

                    <div class="col-3">
                        <partial name="~/Views/Shared/Select2/_TWRAlphabetic.cshtml" for="TWRModel.AlphabeticPart" />
                    </div>

                    <div class="col-3">
                        <input type="text" asp-for="TWRModel.Text" class="form-control" />
                        <span asp-validation-for="TWRModel.Text" class="validation-invalid-label"></span>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ManPowerAffected" class="form-label fw-600"></label>
                    <input asp-for="ManPowerAffected" type="number" class="form-control" />
                    <span asp-validation-for="ManPowerAffected" class="validation-invalid-label"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ManHours" class="form-label fw-600"></label>
                    <input asp-for="ManHours" type="number" class="form-control" />
                    <span asp-validation-for="ManHours" class="validation-invalid-label"></span>
                </div>
            </div>

            @*@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                <div class="col-lg-6">
                    <div class="mb-3">
                        <partial name="~/Views/Shared/Select2/_Approver.cshtml" for="Approver" view-data='new ViewDataDictionary(ViewData) { { "Id", "approver-id"}, { "UserTitle", "Approver"}, {"Type", "Approver"}, {"UnitId","unit-id"} }' />
                    </div>
                </div>
            }
            else
            {
                <input asp-for="Approver.Id" type="hidden" />
            }*@
            <input asp-for="Approver.Id" type="hidden" />
           @* <div class="col-lg-12">
                <div class="mb-3">
                    <label asp-for="JobDescription" class="form-label fw-600"></label>
                    <input asp-for="JobDescription" type="text" class="form-control" />
                    <span asp-validation-for="JobDescription" class="validation-invalid-label"></span>
                </div>
            </div>*@


           
            @*  <div class="col-lg-4">
            <div class="mb-3">
            <label asp-for="HoursDelayed" class="form-label fw-600"></label>
            <input asp-for="HoursDelayed" type="number" class="form-control" />
            <span asp-validation-for="HoursDelayed" class="validation-invalid-label"></span>
            </div>
            </div>*@

            @*          <div class="col-lg-4">
            <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_PermittingIssue.cshtml" for="PermittingIssue" />
            </div>
            </div>
            *@


            @*   <div class="col-lg-4">
            <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Department.cshtml" for="Department" />
            </div>
            </div>
            <div class="col-lg-4">
            <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_Contractor.cshtml" for="Contractor" />
            </div>
            </div>*@
            @*<div class="col-lg-4">
            <div class="mb-3">
            <label asp-for="Date" class="form-label fw-600"></label>
            <input asp-for="Date" type="date" class="form-control" />
            <span asp-validation-for="Date" class="validation-invalid-label"></span>
            </div>
            </div>*@
            @* <div class="col-lg-4">
            <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_ShiftDelay.cshtml" for="ShiftDelay" />
            </div>
            </div>
            <div class="col-lg-4">
            <div class="mb-3">
            <partial name="~/Views/Shared/Select2/_ReworkDelay.cshtml" for="ReworkDelay" />
            </div>
            </div>*@
            @*<div class="col-lg-4">
            <label asp-for="TimeSigned" class="control-label form-label fw-600"></label>
            <input asp-for="TimeSigned" type="time" class="form-control" />
            <span asp-validation-for="TimeSigned" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
            <label asp-for="TimeRequested" class="control-label form-label fw-600"></label>
            <input asp-for="TimeRequested" type="time" class="form-control" />
            <span asp-validation-for="TimeRequested" class="text-danger"></span>
            </div>*@
        </div>
    </div>
</div>

<input asp-for="Status" type="hidden" id="status-id" />
<input asp-for="Employee.Id" type="hidden" />
<input asp-for="Id" type="hidden" />

<script>
    $(function () {
        $('#requester-id').on('change.select2', function (e) {
            if ($(this).select2('data')[0] === undefined) {
                $("#requestor-company").val("");
            }
            else {
                $("#requestor-company").val($(this).select2('data')[0].additionalAttributesModel.Company.Name);
            }
        });
    });</script>
