@using ViewModels.Authentication.Approver;
@model UserSearchViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Email" class="control-label form-label fw-600"></label>
            <input asp-for="Email" type="search" class="form-control" placeholder="Search Email" />
        </div>
    </div>
</div>