@using ViewModels.Authentication.Approver;
@model ApproverModifyViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="FullName" class="form-label fw-600"></label>
                    <input asp-for="FullName" type="text" class="form-control" placeholder="Full Name" />
                    <span asp-validation-for="FullName" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label fw-600"></label>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="validation-invalid-label"></span>
                </div>
            </div>
            @if (Model.Id < 1)
            {
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label fw-600"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="validation-invalid-label"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label fw-600"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="validation-invalid-label"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label asp-for="AccessCode" class="form-label fw-600"></label>
                        <input asp-for="AccessCode" type="number" class="form-control" placeholder="xxxx" />
                        <span asp-validation-for="AccessCode" class="validation-invalid-label"></span>
                    </div>
                </div>
            }
            <div class="col-lg-6">
                <div class="mb-3 profile-input">
                    <partial name="~/Views/Shared/Select2/_UnitMultiSelect.cshtml" model="Model" view-data='new ViewDataDictionary(ViewData) { { "MultiSelect", true} }' />
                </div>
            </div>


        </div>
    </div>
</div>

<input type="hidden" asp-for="Id" />
