<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Department (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-department">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>

        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Unit (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-unit">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>

        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Shift (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-shift">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Request Reason (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-request-reason">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Shift Delay (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-shift-delay">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Rework Delay(TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-rework-delay">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Start Of Work Delay(TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-start-of-work-delay">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By OnGoing Work Delay(TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-ongoing-work-delay">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Work Delay(TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-work-delay-hours">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Costs By Work Delay(TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-work-delay-costs">
                    @await Html.PartialAsync("Shared/Dashboard/_Loader")
                </div>
            </p>
        </div>
    </div>
</div>