<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Override Department
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-department"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Override Unit
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-unit"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Override Shift
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-shift"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Override Request Reason
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="override-request-reason"></div>
            </p>

        </div>
    </div>
</div>