<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
               Hours By Department (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-department"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Unit (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-unit"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Shift (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-shift"></div>
            </p>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hours By Request Reason (TOT)
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-request-reason"></div>
            </p>
        </div>
    </div>
</div>

<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                TOT Count by Shift Delays
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-shift-delay"></div>
            </p>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                TOT Count by Rework Delays
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-rework-delay"></div>
            </p>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                TOT Count by Start Of Work Delays
            </h5>
            <p class="card-text">
                <div class="am-pie-chart" id="tot-start-of-work-delay"></div>
            </p>
        </div>
    </div>
</div>