<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Shift Delays
            </h5>
            <p class="card-text">
                <div class="pie-chart" id="tot-shift-delay"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Rework Delays
            </h5>
            <p class="card-text">
                <div class="pie-chart" id="tot-rework-delay"></div>
            </p>

        </div>
    </div>
</div>