<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
               Rod Types
            </h5>
            <p class="card-text">
                <div class="pie-chart" id="wrr-rod-type"></div>
            </p>

        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
              Weld Methods
            </h5>
            <p class="card-text">
                <div class="pie-chart" id="wrr-weld-method"></div>
            </p>

        </div>
    </div>
</div>