<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
               WRR
            </h5>
            <p class="card-text">
                <div class="am-chart" id="wrr-status"></div>
            </p>

        </div>
    </div>
</div>