@using ViewModels.Dashboard;
@using ViewModels.Common.Unit;
@using ViewModels.Common.Department;

@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<style>
    *[class^='progress-done-'] {
        height: 100%;
        width: 0;
        opacity: 0;
        background: linear-gradient(to left, #f2709c,#ff9472);
        color: #fff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fac090;
        box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
        transition: 1s ease;
    }
</style>
<div class="container-fluid">
    <main>

        <h3 class="default-heading">
            Torrance Admin Dashboard
        </h3>
        <br>


        <div class="row dashboard-stats-row">
            <div class="col-md-4">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="content">
                            <h5 class="card-title"> Total TOT's</h5>
                            <p class="card-text">@Model.TotalTotLogs</p>
                        </div>

                        <div class="icon">
                            <span class="tot"><i class="bi-file-text"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="content">
                            <h5 class="card-title">Total WRR's</h5>
                            <p class="card-text">@Model.TotalWRRLogs</p>
                        </div>

                        <div class="icon">
                            <span class="tot"><i class="bi-file-text"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="content">
                            <h5 class="card-title">Total Overrides</h5>
                            <p class="card-text">@Model.TotalORLogs</p>
                        </div>

                        <div class="icon">
                            <span class="tot"><i class="bi-file-text"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div id="progress-charts-container" class="row">
            <div id="progress-chart-div"></div>
            </div>*@
        <div class="row dashboard-filters-row">

            @* <div class="col-md-12">
                <form id="dashboard-filter-form">
                <p>Filter By:</p>
                <div class="filter-select">
                <div class="row">
                <div class="col-md-4">
                <div class="form-group">
                <partial name="~/Views/Shared/Select2/_Department.cshtml" model="new DepartmentBriefViewModel()" />
                </div>
                </div>
                <div class="col-md-4">
                <div class="form-group">
                <partial name="~/Views/Shared/Select2/_Unit.cshtml" model="new UnitBriefViewModel()" />
                </div>
                </div>
                </div>
                </div>
                </form>
                </div>*@
            <partial name="_TOTStatusChart" />
            <partial name="_WRRStatusChart" />
            <partial name="_OverrideStatusChart" />
            @* <partial name="_WrrPieCharts" />*@

            <div class="row col-12">
                <partial name="_TOTPieCharts" />
                @*<div class="card w-100">
                        <div class="card-body">
                            <div class="content">
                                <h5 class="card-title">TOT's</h5>
                            </div>
                            <div class="row col-12">

                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="row col-12">
                <partial name="_OverridePieCharts" />
                @*  <div class="card w-100">
                        <div class="card-body">
                            <div class="content">
                                <h5 class="card-title">Overrides</h5>
                            </div>
                            <div class="row col-12">
                                <partial name="_OverridePieCharts" />
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </main>
</div>
<style>
    .am-chart {
        width: 100%;
        height: 350px;
    }

    .am-pie-chart {
        width: 100%;
        height: 350px;
    }
</style>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<script src="~/js/custom-scripts/dashboard/am-chart.js"></script>
@*<script src="~/js/custom-scripts/dashboard/tot-pie-chart.js"></script>
    <script src="~/js/custom-scripts/dashboard/wrr-pie-chart.js"></script>*@
<script src="~/js/custom-scripts/dashboard/status-chart.js"></script>
<script src="~/js/custom-scripts/dashboard/override-pie-chart.js"></script>
<script src="~/js/custom-scripts/dashboard/tot-pie-chart.js"></script>
<!-- Chart code -->
<script>$(function () {
        GetStatusChartData("TOT", "tot-status");
        GetStatusChartData("WRR", "wrr-status");
        GetStatusChartData("Override", "override-status");
        GetTOTChartData();
        GetOverrideChartData();

        //$(document).on("change", "#department-id, #unit-id", function () {
        //    var departmentId = $("#department-id").val();
        //    var unitId = $("#unit-id").val();

        //    var formData = { "Department.Id": departmentId, "Unit.Id": unitId };

        //    GetTOTChartData(formData);
        //    GetWrrChartData(formData);
        //});
    })</script>
