@model EmployeeSearchViewModel
@using Enums
@using ViewModels.WeldingRodRecord.Employee;
@using Web.Extensions
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Status" class="control-label form-label fw-600"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectListWithDefaultValue(Model.Status)" class="form-control"></select>
        </div>
    </div>
      <div class="col-md-4">
        <div class="form-group">
            <label asp-for="FirstName" class="control-label form-label fw-600"></label>
            <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />
        </div>
    </div>
</div>