<div class="row col-12">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Hours By Shift Delay (TOT)
                </h5>
                <p class="card-text">
                    <div class="am-pie-chart" id="tot-shift-delay"></div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Hours By Rework Delay(TOT)
                </h5>
                <p class="card-text">
                    <div class="am-pie-chart" id="tot-rework-delay"></div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Hours By Start Of Work Delay(TOT)
                </h5>
                <p class="card-text">
                    <div class="am-pie-chart" id="tot-start-of-work-delay"></div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Hours By OnGoing Work Delay(TOT)
                </h5>
                <p class="card-text">
                    <div class="am-pie-chart" id="tot-ongoing-work-delay"></div>
                </p>
            </div>
        </div>
    </div>
</div>
