@page
@model LoginUsingPincodeModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_LoginLayout.cshtml";
}

<div class="d-flex justify-content-center row">
    <div class="col-md-4">
        <div class="login-box">
            <div class="login-form">
                <h2>Login</h2>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input asp-for="Input.Pincode" class="form-control" placeholder="Pincode" autocomplete="current-pincode" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Pincode" class="text-danger"></span>
                    </div>
                  
                    <div class="form-group row">
                        <input id="login-submit" type="submit" class="btn col-md-12" value="Log in" />
                    </div>
                </form>
                <p style="text-align:center;">
                    <a class="text-dark" asp-area="Identity" asp-page="/Account/Login" title="Login Page">Back to Login</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
