@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ViewModels.Shared
@model List<FolderDetailViewModel>
@{
    Layout = null;
}

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="col-lg-3 doc-col col-6 mb-3" attr-id="@item.Id">
            <div class="doc-inner">
                <div class="row">
                    <i class="fa-solid fa-pen edit-folder" attr-id="4"></i>
                    <i class="fa-solid fa-trash delete-folder" attr-id="4"></i>
                </div>
                <a class="doc-setting" href="#"><img src="~/img/dots.png" alt="dots" /></a>
                <a href="#" class="doc-body">
                    <img src="~/img/folder.png" class="doc-icon folder" alt="folder" attr-id="@item.Id" />
                    <h4 class="doc-title">@item.Name</h4>
                    <p class="doc-item-count">@item.AttachmentCount items</p>
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <h3>No Folders found.</h3>
    </div>
}