@using ViewModels.Shared
@model FolderBriefViewModel

@{
    Layout = null;
}

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-6">
            <input type="text" id="folder-name" class="form-control" placeholder="Add folder name" />
        </div>
        <div class="col-lg-6">
            <input type="button" id="add-folder" class="btn btn-dark" value="Create new Folder" />
        </div>
    </div>
}


<br />
<div class="row">
    @if (Model != null)
    {
        @foreach (var item in Model.Folders)
        {
            <div class="col-lg-3 doc-col col-6 mb-3 folder" attr-id="@item.Id">
                <div class="doc-inner">
                    <img src="~/img/lock.png" class="doc-lock-icon" alt="lock" />
                    <a class="doc-setting" href="#"><img src="~/img/dots.png" alt="dots" /></a>
                    <a href="#" class="doc-body">
                        <img src="~/img/folder.png" class="doc-icon" alt="folder" />
                        <h4 class="doc-title">@item.Name</h4>
                        <p class="doc-item-count">@item.AttachmentsCount items</p>
                    </a>
                </div>
            </div>
        }
    }
    else
    {

        <div class="row">
            <h3>No Folders found.</h3>
        </div>
    }

    @*<input type="hidden" asp-for="EmployeeId" id="emp-id" />*@

</div>