@using ViewModels.Shared
@model List<FolderDetailViewModel>

@{
    ViewBag.Title = "Folders";
    //   Layout = null;
}
<!-- The Modal -->
<div class="modal fade" id="crudModalPanel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Folder</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div id="crudModalPanelBody" class="modal-body">
                Modal body..
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="search" id="search-value" class="form-control" placeholder="Search Folders" />
                        </div>
                        @* <div class="col-lg-4">
                                <input type="text" id="folder-name" class="form-control" placeholder="Add folder name" />
                            </div>*@
                        <div class="col-lg-6">
                            <input type="button" id="add-folder" class="btn btn-dark" value="Create new Folder" onclick="loadCreateModalPanel('/Folder/Create')" />
                        </div>
                    </div>
                }

                <br />
                <div class="row" id="folder-list">
                    <partial name="_GetFolders" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="" id="modal-title" />

@section Scripts{
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/views/Folder/folder.js"></script>
    <script src="~/js/crud/ajaxCrud.js"></script>
    <partial name="_ValidationScriptsPartial" />
}