@using Microsoft.AspNetCore.Identity
@using Models;
@using System.Security.Claims;
@inject SignInManager<ToranceUser> SignInManager
@inject UserManager<ToranceUser> UserManager
@{
    var emailClaim = ((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Email);
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/img/profile.png" alt="mdo" width="32" height="32" class="rounded-circle">

            <span class="user-name-span">Hello @(emailClaim != null ? emailClaim.Value : "")</span>
        </a>
        <ul class="dropdown-menu text-small" style="">
            @*  <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>

        <li><hr class="dropdown-divider"></li>*@

            <li>
                <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Change Password">Change Password</a>
            </li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>


        </ul>
    </div>
}
else
{
    @*  <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    <div class="dropdown text-end">
        <a class="nav-link default-form-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}