@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<nav class="container main-nav navbar navbar-expand-lg navbar-light">
    <div class="container-fluid nav-bar-container w-100">

        <div class="d-flex align-items-center">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav-middle navbar-nav mb-2 mb-lg-0 flex-md-grow-1 nav-main-ul">
                <li class="nav-item"><a class="nav-link px-3" href="/">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="/Approval/Index">Approvals</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="/TOTLog/Index">Time on Tools</a></li>
                @*<li class="nav-item"><a class="nav-link px-3" href="/WRRLog/Index">Welding Rod Record</a></li>*@
                <li class="nav-item"><a class="nav-link px-3" href="/OverrideLog/Index">Overrides</a></li>
                @if (!User.IsInRole("Approver"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User Setup
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item px-3" asp-controller="Employee" asp-action="Index">Accounts</a>
                            <a class="dropdown-item px-3" asp-controller="Approver" asp-action="Index">Approvers</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @* <a class="dropdown-item" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>All</b>
                        </a>*@
                            <a class="dropdown-item px-3" asp-controller="Unit" asp-action="Index">Unit</a>
                            <a class="dropdown-item px-3" asp-controller="Company" asp-action="Index">Companies</a>
                            <a class="dropdown-item px-3" asp-controller="PermitType" asp-action="Index">Permit Type</a>
                            <a class="dropdown-item px-3" asp-controller="DelayType" asp-action="Index">Delay Type</a>
                            <a class="dropdown-item px-3" asp-controller="ReasonForRequest" asp-action="Index">Reason for Request</a>
                            <a class="dropdown-item px-3" asp-controller="Shift" asp-action="Index">Shifts  </a>
                            <a class="dropdown-item px-3" asp-controller="CraftSkill" asp-action="Index">Craft</a>
                            <a class="dropdown-item px-3" asp-controller="CraftRate" asp-action="Index">Craft Rate</a>
                            <a class="dropdown-item px-3" asp-controller="OverrideType" asp-action="Index">Override Type</a>
                        </div>
                    </li>




                }
                <li class="nav-item"><a class="nav-link px-3" href="/Folder/Index">Mobile Files </a></li>

                @if (User.IsInRole("Approver"))
                {
                    <li class="nav-item"><a class="nav-link px-3" href="/Employee/Index">Reset Access Codes </a></li>
                }
            </ul>

        </div>

    </div>
</nav>
